.sidebar_container,
.sidebar_container_close {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 400;
  margin-right: 288px;
  width: 100%;
  height: 100%;
  min-width: 288px;
  max-width: 288px;
  border-bottom: 1px solid rgb(221, 215, 213);
  background-color: rgb(255, 253, 250);

  .image_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 14px;
    border-right: 1px solid rgb(221, 215, 213);
    background-color: rgb(255, 253, 250);
    border-bottom: 1px solid rgb(221, 215, 213);
  }

  .address {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px;

    button {
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 8px;
      height: 40px;
      transition: all 0.2s ease 0s;
      line-height: 16px;
      font-size: 13px;
      background-color: transparent;
      color: rgb(25, 0, 0);
      border: 1px solid rgb(221, 215, 213);
      cursor: pointer;
    }
  }

  .tab_list {
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgb(221, 215, 213);

    .left_tab,
    .right_tab {
      display: flex;
      flex: 1 1 0%;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      height: 72px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 500;
      color: black;
      z-index: 1;
      transition: color 0.2s ease-in 0s;
      border-bottom: 1px solid rgb(221, 215, 213);
    }
    .switcher {
      height: 100%;
      position: absolute;
      width: 50%;
      background-color: rgb(255, 253, 250);
      z-index: 0;
      transition: transform 0.2s ease-in 0s;
      border-radius: 8px;
      border: 1px solid transparent;
      will-change: transform;
    }

    .right {
      transform: translateX(100%);
    }
  }

  @media (max-width: 1279px) {
    margin-right: 0px;
    max-width: 360px;
    top: 72px;
    height: calc(100% - 72px);
    z-index: 600;
    border-top: none;
    // width: 0px;
    min-width: 0px;
    transition: width 0.1s ease 0.1s;
    .image_container {
      display: none;
    }
  }
}

.sidebar_container_close {
  display: none;

  @media (min-width: 1280px) {
    display: block;
  }
}
